<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{model.username}}'s Profile</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>First name:</strong> {{model.firstname}}</li>
            <li class="list-group-item"><strong>Last name:</strong> {{model.lastname}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{model.email}}</li>
        </ul>
    </div>
</div>

{{outlet}}
